.topBar{
  padding: 10px;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0, .85);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100; 
  
}

.topBar img{
  height: 20px;
  cursor: pointer;
}

.topBar svg, .topBar path{
  font-size: 20px;
  cursor: pointer;
}

.logo img{
  height: 50px;
  cursor: pointer;
}

.hold{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.hold svg, .hold path{
  font-size: 14px;
  cursor: pointer;
}

.iconLockClose path{
  color: gray;
}

.topMenu{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topMenu svg, .topMenu path{
  font-size: 38px;
  cursor: pointer;
}

.topMenu h1{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 200 !important;
}

.containerMenu{
  width: 60%;
  max-width: 230px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  transition: all .2s;
  z-index: 1000 !important;
}

.containerMenuHide{
  width: 60%;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, .85);
  transition: all .2s;
  z-index: 1000 !important;
}

.listResidential{
  width: 100%;
  height: auto;
}

.listResidential h1{
  font-size: 12px;
  font-weight: 200 !important;
  cursor: pointer;
}

.listResidential a{
  padding: 0 5px 0 10px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.listResidential a:hover{
  background-color: red;
}

.listResidential a:active{
  background-color: red;
}

.statusON, .statusOFF{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.statusOFF{
  background-color: red;
}

.logoBottom{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
}

.logoBottom img{
  height: 25px;
  cursor: pointer;
}