:root{
  --background1: rgba(18, 18, 18);
  --background2: rgba(25, 25, 25);
  --background3: rgba(35, 35, 35);
  --background4: rgba(50, 50, 50);
  --color-primary: rgb(174, 212, 47);
  --color-secondary: rgb(133, 198, 237);
  --color-tertiary: rgb(228, 83, 141);
  

}