.display{
  display: none;
}

.barreraEntradaMain{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barreraEntradaBox{
  padding: 20px 10px 10px 10px;
  width: 300px;
  height: auto;
  border-radius: 5%;
  background-color: var(--background1);
}

.devNameBack{
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.devNameBack h1{
  margin-top: 0;
  font-size: 12px;
  font-family: 'Bebas' !important;
  font-weight: 200;
}

.accBoxMain{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}




